.title__desc {
  font-style: normal;
  font-weight: 300;
  font-size: 23px;
  line-height: 23px;
  color: #fff;
  text-transform: uppercase;
  margin: 85px 0 0px;
}
.col-md-3 {
  @media (min-width: 800px) and (max-width: 940px) {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.img_b {
  @media (max-width: 845px) {
    display: none;
  }
}
.beer {
  &__title {
    background: url("../images/kashtan.svg") no-repeat center;
    background-size: contain;
  }
}
