.bottle_up {
  margin: 60px 0 20px;
  display: inline-block;

  &__svg {
    width: 23px;
    height: 77px;
  }
}
.bottle_scroll_up:hover path {
  fill: #a5a3a3;
}
.row__contact {
  margin-bottom: 30px;
}

.contact__form {
  width: 100%;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding-right: 15px;
}
input {
  margin-bottom: 15px;
  width: 100%;
}
.field {
  font: 300 15px $roboto;
  color: #5a5a5a;
  background: rgba(53, 53, 53, 0.5);
  border-left: 5px solid transparent;
  width: 35vw;
  padding: 15px;
  margin-bottom: 15px;
  transition: all 0.3s;

  @media (max-width: $desktop) {
    width: 100%;
  }
}

.field:focus {
  background: #f2f2f2;
  font-weight: 700;
  border-left-color: rgb(117, 117, 117);
}
.social {
  display: flex;
  justify-content: center;
  padding-left: 40px;
  margin-bottom: 70px;
  transition: all 0.5s;

  @media (max-width: $mobile) {
    padding-left: 0;
  }

  &__link {
    margin: 0 5px;
  }
}
.soc__icon {
  fill: #5a5a5a;
}
.social__link:hover .soc__icon {
  fill: #f2f2f2;
}
.tel {
  text-align: center;
  color: #f2f2f2;
  text-decoration: none;
  transition: all 0.3s;
  margin-bottom: 20px;
  margin-left: 30px;

  @media (max-width: $mobile) {
    margin-left: 0;
  }

  &__link {
    text-decoration: none;
    color: #f2f2f2;
  }
  &__link:hover {
    color: #fff;
  }
}
.tel:hover {
  transform: scale(1.1);
}
.line {
  width: 80vw;
  height: 2px;
  background: #f2f2f2;
  margin-bottom: 10px;
}
option {
  background: rgba(8, 8, 8, 0.8);
}
.button_submit {
  padding: 13px 20px;
  background: #5a5a5a;
  color: #f2f2f2;
  transition: all 0.4s;
  width: calc(100% - 15px);
  font: 15px, $roboto;
}
.button_submit:hover {
  background: #f2f2f2;
  color: rgb(53, 53, 53);
}
